<link rel="stylesheet"
      type="text/css"
      href="/css/nutritionplan.css">
<link rel="stylesheet"
      type="text/css"
      href="/css/nutritionplan.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

<body>
    <main>
        <div class="text-center">
            <div class="justify-content-center">
                <div class="plan-title" data-planId="{{plan.id}}">
                    <p class="jumbotron main-header">{{plan.name}}</p>
                </div>
            </div>
            <button id="display-plan" class="btn new-button btn-lg">Edit Plan</button>
        </div>
        <div class="container">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1"
                            data-column="column1"></th>
                        <th class="column100 column2"
                            data-column="column2">Monday</th>
                        <th class="column100 column3"
                            data-column="column3">Tuesday</th>
                        <th class="column100 column4"
                            data-column="column4">Wednesday</th>
                        <th class="column100 column5"
                            data-column="column5">Thursday</th>
                        <th class="column100 column6"
                            data-column="column6">Friday</th>
                        <th class="column100 column7"
                            data-column="column7">Saturday</th>
                        <th class="column100 column8"
                            data-column="column8">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row100"
                        id="1" data-mealTime="1">
                        <td class="column100 column1"
                            data-column="column1">Meal 1</td>
                        <td class="column100 column2 cell"
                            data-column="column2"
                            data-day="1"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column3 cell"
                            data-column="column3"
                            data-day="2"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column4 cell"
                            data-column="column4"
                            data-day="3"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column5 cell"
                            data-column="column5"
                            data-day="4"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column6 cell"
                            data-column="column6"
                            data-day="5"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column7 cell"
                            data-column="column7"
                            data-day="6"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column8 cell"
                            data-column="column8"
                            data-day="7"
                            data-meal="1">
                            {{> meal-name}}

                        </td>
                    </tr>
                    <tr class="row100"
                        id="2" data-mealTime="2">
                        <td class="column100 column1"
                            data-column="column1">Snack</td>
                        <td class="column100 column2 cell"
                            data-column="column2"
                            data-day="1"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column3 cell"
                            data-column="column3"
                            data-day="2"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column4 cell"
                            data-column="column4"
                            data-day="3"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column5 cell"
                            data-column="column5"
                            data-day="4"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column6 cell"
                            data-column="column6"
                            data-day="5"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column7 cell"
                            data-column="column7"
                            data-day="6"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column8 cell"
                            data-column="column8"
                            data-day="7"
                            data-meal="2">
                            {{> meal-name}}

                        </td>
                    </tr>
                    <tr class="row100"
                        id="3" data-mealTime="3">
                        <td class="column100 column1"
                            data-column="column1">Meal 2</td>
                        <td class="column100 column2 cell"
                            data-column="column2"
                            data-day="1"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column3 cell"
                            data-column="column3"
                            data-day="2"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column4 cell"
                            data-column="column4"
                            data-day="3"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column5 cell"
                            data-column="column5"
                            data-day="4"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column6 cell"
                            data-column="column6"
                            data-day="5"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column7 cell"
                            data-column="column7"
                            data-day="6"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column8 cell"
                            data-column="column8"
                            data-day="7"
                            data-meal="3">
                            {{> meal-name}}

                        </td>
                    </tr>
                    <tr class="row100"
                        id="4" data-mealTime="4">
                        <td class="column100 column1"
                            data-column="column1">Snack</td>
                        <td class="column100 column2 cell"
                            data-column="column2"
                            data-day="1"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column3 cell"
                            data-column="column3"
                            data-day="2"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column4 cell"
                            data-column="column4"
                            data-day="3"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column5 cell"
                            data-column="column5"
                            data-day="4"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column6 cell"
                            data-column="column6"
                            data-day="5"
                            data-meal="4">
                            {{> meal-name}}


                        </td>
                        <td class="column100 column7 cell"
                            data-column="column7"
                            data-day="6"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column8 cell"
                            data-column="column8"
                            data-day="7"
                            data-meal="4">
                            {{> meal-name}}

                        </td>
                    </tr>
                    <tr class="row100"
                        id="5" data-mealTime="5">
                        <td class="column100 column1"
                            data-column="column1">Meal 3</td>

                        </td>
                        <td class="column100 column2 cell"
                            data-column="column2"
                            data-day="1"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column3 cell"
                            data-column="column3"
                            data-day="2"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column4 cell"
                            data-column="column4"
                            data-day="3"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column5 cell"
                            data-column="column5"
                            data-day="4"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column6 cell"
                            data-column="column6"
                            data-day="5"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column7 cell"
                            data-column="column7"
                            data-day="6"
                            data-meal="5">
                            {{> meal-name}}

                        </td>
                        <td class="column100 column8 cell"
                            data-column="column8"
                            data-day="7"
                            data-meal="5">
                            {{> meal-name}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {{> meal-detail}}
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
</script>
<script src="/js/renderMeals.js"></script>
<script src="/js/displayPlan.js"></script>
<script src="/js/addMeal.js"></script>
