.main-header {
  text-align: center;
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
  padding: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
}

.new-button {
  font-size: 20px;
  display: block;
  flex: auto;
  margin-left: 150px;
  font-family: "Quicksand", sans-serif;
}
