.main-header {
  text-align: center;
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  margin-bottom: 30px;
  color: var(--coral);
}

h1 {
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  color: var(--coral);
}

body {
  background-color: rgb(54, 52, 52);
}

.new-button {
  margin: 0;
  background-color: var(--coral);
  border-color: var(--coral);
  color: var(--cocunut-cream);
}

.new-button:hover {
  background-color: var(--coralstrong);
  color: var(--cocunut-cream);
}

.patient-name {
  color: var(--cocunut-cream);
}

.patient-name:hover {
  color: white;
}

.delete-btn {
  color: var(--cocunut-cream);
  background-color: rgb(211, 75, 75);
}

.delete-btn:hover {
  color: var(--cocunut-cream);
}

.create-customer {
  font-family: "Quicksand", sans-serif;
}

.m-title {
  color: var(--coralstrong);
}

.m-header {
  background-color: rgb(54, 52, 52);
}
