* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background: url("/images/front-image.png") no-repeat center bottom/cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.img-container {
}

.noaccount {
  padding-right: 35px;
}

.nutritionimg {
  height: 97%;
  border-radius: 5%;
}

.inner-container {
  text-align: center;
  /*position: absolute;*/
  width: 100%;
  color: black;
  height: auto;
  margin-top: 40px;
}

h1 {
  font-size: 4em;
  font-family: "Shadows into Light", sans-serif;
  padding-bottom: 20px;
}

h2 {
  margin-top: -17px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-weight: 400;
}

a {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}

.img-logo {
  width: 160px;
}

footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #999;
}

@media only screen and (max-width: 540px) {
  .inner-container {
    margin-top: 65px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 576px) {
  .inner-container {
    margin-top: 80px;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 1.4em;
  }
}
